:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #5a5a5a;
}

img {
  cursor: pointer;
}

.flex-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@-webkit-keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.showBox {
  -webkit-animation: SHOW-BOX 0.7s ease;
  -moz-animation: SHOW-BOX 0.7s ease;
  -o-animation: SHOW-BOX 0.7s ease;
  animation: SHOW-BOX 0.7s ease;
}
